<!-- Start deneb_about section -->
<section class="deneb_about {% if include.section_class %} {{include.section_class}} {% else %} about_v1 {% endif %}">
	<div class="container">
		<div class="row containerRes">
			<div class="col-lg-7">
				<div class="deneb_img_box wow fadeInLeft">
					<iframe id="jm-research-vid" width="650" height="400" src="https://www.youtube.com/embed/lyD0xYFsphA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="deneb_content_box wow fadeInRight">
					<h2 class="jm-research-title">Research</h2>
					<p>My research is in Human-Computer Interaction, with a particular focus on the following areas:</p>
					<div id="jm-bullist">
						<ul>
							<li>Personalized User Interfaces </li>
							<li>Universal Usability</li>
							<li>Interactive Technologies for Older Adults</li>
							<li>Computer Supported Cooperative Work</li>
							<li>Qualitative and Quantitative Methodologies</li>
						</ul>
					</div>
					<p class="para_space padding-btm0">Publications can be found on my group's website.</p>


					<a href="/about" class="deneb_btn">eDAPT Website</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_about section -->