<!-- Start deneb_achivement section -->
<section class="deneb_achivement">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="deneb_content_box wow fadeInRight">
					<h2 class="jm-research-title title-mb">Teaching</h2>
					<p class="marginbot">I typically teach courses on Human-Computer Interaction (HCI), at both the undergrad and graduate level,  as well as first year introduction to computation and programming.
					</p>

					<h5 class="subtitle-mb">This Year (2020/21):</h5>
					<div class="jm-bullist2">
						<ul class="list-item-spacing">
							<li><a href="url">CS 110</a>: graduate course in HCI on the Fundamentals of Designing Interactive Computational Technology for People (DFP)
							</li>
							<li><a href=""url">CS 444</a>: fourth year undergrad course in Advanced Methods in HCI </li>
						</ul>
					</div>
					<br>
					<h5 class="subtitle-mb">Last Year (2019/20):</h5>

					<div class="jm-bullist2">
						<ul class="list-item-spacing">
							<li><a href="url">CS 544</a>: graduate course in HCI on the Fundamentals of Designing Interactive Computational Technology for People (DFP)

							</li>
							<li><a href="url">CS 444</a>: fourth year undergrad course in Advanced Methods in HCI  </li>
						</ul>
					</div>

					<p class="para_space">Full details of my teaching can be found in my <a href="url">CV</a>.</p>

				</div>
			</div>
			<div class="col-lg-6">
				<div class="deneb_img_box wow fadeInLeft">
					<img src="/assets/images/ubctest.jpg" class="img-fluid" alt="teaching image"/>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_achivement section -->