<!-- Start home section -->
<section class="deneb_banner banner_v1">
	<div class="shape_v1">
		<img src="{{site.baseurl}}/assets/images/shape/shape_1.png" class="shape_1" alt="slider one">
	</div>
	<div class="container">
<!--	<div class="jm-banner-img">-->
		<div class="hero_slider" id="home">
			<div class="signle_slider">
				<div class="row align-items-center containerMain">
					<div class="col-md-5 col-lg-5">
						<div class="jm-banner banner_content wow fadeInLeft">
								<h2><span>{{site.data.home.name}}</span></h2>
								<p class="jm-pronouns"><span>{{site.data.home.pronouns}}</span></p>
								<p class="jm-title">{{site.data.home.title}}</p>
								<p class="jm-workplace">{{site.data.home.workplace}}</p>
								<p class="jm-icons" id="jm-email"><i class="fa fa-envelope" aria-hidden="true"></i>{{site.data.home.email}} <span id="copy-notifier" style="display: none;">Copied!</span></p>
								<p class="jm-icons"><i class="fa fa-map-marker-alt" aria-hidden="true"></i>{{site.data.home.office}}<a href="#directions" class="directions">(Directions)</a></p>
							<p class="jm-icons phone"><i class="fa fa-phone-alt" aria-hidden="true"></i><a href="tel:{{site.data.home.phone}}">{{site.data.home.phone}}</a><br><br></p>
								<p class="jm-icons address"><i class="fa fa-paper-plane" aria-hidden="true"></i>{{site.data.home.address_1}}</p>
								<p class="mail-align">{{site.data.home.address_2}}</p>
								<a target="_blank" href="{{site.baseurl}}/{{site.data.home.button_url}}" class="deneb_btn jm-calendar">{{site.data.home.button_name}}</a>
						</div>
					</div>
					<div class="col-md-7 col-lg-7">
						<div class="deneb_img_box wow fadeInRight">
							<img src="{{site.baseurl}}/assets/images/joanna.png" class="img-fluid" alt="slider two"/>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End deneb_banner section-->
