<!-- Start deneb_project section -->
<section class="deneb_project project_v1">
	<div class="shape_v3">
		<img src="/assets/images/shape/shape_10.png" class="shape_10" alt="">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div class="deneb_img_box wow fadeInLeft">
					<img src="/assets/images/award.png" class="img-fluid" alt="teaching image"/><figure><figcaption>Presenting the best student paper award at ASSETS 2018</figcaption></figure>

				</div>
			</div>
			<div class="col-lg-5">
				<div class="deneb_content_box wow fadeInRight">
					<h2 class="jm-research-title title-mb">Service</h2>
					<h5 class="subtitle-mb">Research Community:</h5>
					<div class="jm-bullist2">
						<ul>
							<li> I am a member of the editorial board for ACM Transactions on Computer-Human-Interaction (ToCHI) and ACM Transactions on Accessible Computing (TACCESS). I recently served as the Technical Program Co-Chair for ACM <a href="url">CHI 2020</a> and the Program Chair for ACM <a href="url">ASSETS 2018</a>.


						</ul>
					</div>
					<br>
					<h5 class="subtitle-mb">Department of Computer Science and UBC:</h5>

					<div class="jm-bullist2">
						<ul>
							<li> I am serving on the Dean’s Advisory Committee on Promotion and Tenures (DACOPAT) and CS’s Peer Teaching Evaluation. I have recently served as the Chair for CS’s inaugural Committee on Outreach Diversity and Equity (CODE) and as the Associate Head of CS’s Graduate Program.


							</li>

						</ul>
					</div>
					<a href="" class="link_btn">READ MORE</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_project section -->