<!-- Start deneb_skill section -->
<section class="deneb_skill">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-7">
				<div class="section_title">
					<h2>Let Know Our Expert Skills</h2>
					<p>Curabitur libero eros, efficitur sit amet sodales tincidunt, aliquet et leo. Sed ut nibh feugiat, auctor enim quis, hendrerit ipsum. Aenean blandit lacinia suscipit. Nunc ut tincidunt massa, eu semper lacus.</p>
				</div>
				<div class="skill_wrapper">
					<div class="single_bar">
						<div class="progress_title">
							<h5>UI/UX Design<span>85%</span></h5>
						</div>
						<div class="progress">
							<div class="progress-bar wow slideInLeft" style="width: 85%;"><div class="dot"></div></div>
						</div>
					</div>
					<div class="single_bar">
						<div class="progress_title">
							<h5>Web Design<span>75%</span></h5>
						</div>
						<div class="progress">
							<div class="progress-bar wow slideInLeft" style="width: 75%;"><div class="dot"></div></div>
						</div>
					</div>
					<div class="single_bar">
						<div class="progress_title">
							<h5>HTML/CSS<span>90%</span></h5>
						</div>
						<div class="progress">
							<div class="progress-bar wow slideInLeft" style="width: 90%;"><div class="dot"></div></div>
						</div>
					</div>
					<div class="single_bar">
						<div class="progress_title">
							<h5>Sketch<span>65%</span></h5>
						</div>
						<div class="progress">
							<div class="progress-bar wow slideInLeft" style="width: 65%;"><div class="dot"></div></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="deneb_img_box">
					<img src="../assets/images/skill.png" class="img-fluid" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_skill section -->