<!-- Start research section -->
<section class="deneb_about" id="research">
	<div class="container">
		<div class="row containerRes">
			<div class="col-lg-7">
				<div class="deneb_img_box wow fadeInLeft delay-1s">
					<iframe id="jm-research-vid" width="650" height="400" src="https://www.youtube.com/embed/lyD0xYFsphA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="deneb_content_box wow fadeInRight delay-1s">
					<h2 class="jm-research-title">{{site.data.research.title}}</h2>
					<p>{{site.data.research.para_1}}</p>
					<div id="jm-bullist">
						<ul>
							{% for item in site.data.research.areas %}
							<li>{{item.area}}</li>
							{% endfor %}
						</ul>
					</div>
					<p class="para_space padding-btm0">{{site.data.research.para_2}}</p>


					<a href="{{site.data.research.button_url}}" class="deneb_btn">{{site.data.research.button_name}}</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_about section -->