<!-- Start deneb_banner section -->
<section class="deneb_banner banner_v1">
	<div class="shape_v1">
		<img src="/assets/images/shape/shape_1.png" class="shape_1" alt="slider one">
	</div>
	<div class="container">
		<div class="hero_slider">
			<div class="signle_slider">
				<div class="row align-items-center">
					<div class="col-lg-5">
						<div class="banner_content wow fadeInLeft">
							<h1>We Are Creative <br><span>Deneb Agency</span></h1>
							<h5>We Are Professional Freelance Web Designer</h5>
							<p>Nulla id euismod massa. Donec accumsan semper lacus, vestibulum gravida ante sed eu lacus et diam lacinia.</p>
							<a href="#" class="deneb_btn">Hire Me</a>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="deneb_img_box wow fadeInRight">
							<img src="/assets/images/banner_1.png" class="img-fluid" alt="slider two"/>
						</div>
					</div>
				</div>
			</div>
			<div class="signle_slider">
				<div class="row align-items-center">
					<div class="col-lg-5">
						<div class="banner_content wow fadeInLeft">
							<h1>We Are Creative <br><span>Deneb Agency</span></h1>
							<h5>We Are Professional Freelance Web Designer</h5>
							<p>Nulla id euismod massa. Donec accumsan semper lacus, vestibulum gravida ante sed eu lacus et diam lacinia.</p>
							<a href="#" class="deneb_btn">Hire Me</a>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="deneb_img_box wow fadeInRight">
							<img src="/assets/images/banner_02.png" class="img-fluid" alt="slider three"/>
						</div>
					</div>
				</div>
			</div>
			<div class="signle_slider">
				<div class="row align-items-center">
					<div class="col-lg-5">
						<div class="banner_content wow fadeInLeft">
							<h1>We Are Creative <br><span>Deneb Agency</span></h1>
							<h5>We Are Professional Freelance Web Designer</h5>
							<p>Nulla id euismod massa. Donec accumsan semper lacus, vestibulum gravida ante sed eu lacus et diam lacinia.</p>
							<a href="#" class="deneb_btn">Hire Me</a>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="deneb_img_box wow fadeInRight">
							<img src="/assets/images/banner_03.png" class="img-fluid" alt="slider four"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_banner section-->