<!-- Start deneb_banner section -->
<section class="deneb_banner banner_v1">
	<div class="shape_v1">
		<img src="/assets/images/shape/shape_1.png" class="shape_1" alt="slider one">
	</div>
	<div class="container">
<!--	<div class="jm-banner-img">-->
		<div class="hero_slider">
			<div class="signle_slider">
				<div class="row align-items-center containerMain">
					<div class="col-lg-5">
						<div class="jm-banner banner_content wow fadeInLeft">

							<h1><span>Joanna McGrenere</span></h1>
							<p class="jm-pronouns"><span>She, Her, Hers</span></p>
							<p class="jm-title">Professor | Computer Science</p>
							<p class="jm-workplace">University of British Columbia</p>
							<p class="jm-icons"><i class="fa fa-envelope" aria-hidden="true"></i> joanna@cs.ubc.ca</p>
							<p class="jm-icons"><i class="fa fa-map-marker-alt" aria-hidden="true"></i> ICICS/CS X665 <a href="" class="directions">(Directions)</a></p>
							<p class="jm-icons"><i class="fa fa-phone-alt" aria-hidden="true"></i> 604 827-5201</p>
							<p class="jm-icons"><i class="fa fa-fax" aria-hidden="true"></i> 604 822-4231<br><br></p>
							<p class="jm-icons"><i class="fa fa-paper-plane" aria-hidden="true"></i>201-2366 Main Mall</p>
							<p class="mail-align">Dept. of Computer Science
							University of British Columbia
							Vancouver, B.C., V6T 1Z4
							Canada</p>
							<a href="https://www.cs.ubc.ca/~joanna/schedule.html" class="deneb_btn jm-calendar">Calendar</a>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="deneb_img_box wow fadeInRight">
							<img src="/assets/images/joannaaaa.png" class="img-fluid" alt="slider two"/>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End deneb_banner section-->