<!-- Start teaching section -->
<section class="deneb_achivement">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="deneb_content_box" id="teaching">
					<h2 class="jm-research-title title-mb">{{site.data.teaching.title}}</h2>
					<p class="marginbot">{{site.data.teaching.para_1}}
					</p>
					{% for item in site.data.teaching.subtitles %}
					<h6 class="subtitle-mb">{{item.subtitle}}</h6>
					<div class="jm-bullist2">
						<ul class="list-item-spacing">
							{% for entry in item.courses %}
							<li>{{entry.course}}</li> {% endfor %}
						</ul>
					</div>
					<br>
					{% endfor %}

					<p class="lighter">{{site.data.teaching.para_2}}<a target= "_blank" href="{{site.baseurl}}/{{site.data.teaching.cv_path}}">{{site.data.teaching.cv_name}}</a>.</p>

				</div>
			</div>
			<div class="col-lg-6">
				<div class="deneb_img_box">
					<img src="{{site.baseurl}}/assets/images/ubctest.jpg" class="img-fluid" alt="UBC landmark."/>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_achivement section -->