<!-- Start deneb_testimonial section -->
<section class="deneb_testimonial testimonial_v1">
    <div class="container">
        <div class="row directionContainer">
            <div class="col-lg-7">
                <div class="mapouter wow fadeInRight">
                    <div class="gmap_canvas">
                        <iframe width="630" height="460" id="gmap_canvas" src="https://maps.google.com/maps?q=agronomy%20road%20and%20engineering%20road%2C%20vancouver%2C%20bc%2C%20canada&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">

                        </iframe><a href="https://www.embedgooglemap.org">embed google map</a></div><style>.mapouter{position:relative;text-align:right;height:460px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:460px;width:100%;}</style></div>
            </div>
            <div class="col-lg-5">
                <div class="deneb_content_box wow fadeInLeft">
                <h2 class="jm-research-title title-mb">Directions</h2>
                    <p class="dir">I am located in the X-wing of the ICICS/CS Building on UBC campus. The main address from the ICICS/CS building is 2366 Main Mall. If you enter from this address, follow the signs to the X-wing, then take the <span style="color: black">south elevator</span> to the 6th floor. My office is X665. </p>
                    <p class="dir">The most direct way to get to my office is to enter the X-wing from street level (X-wing is it's own building, connected by walkways to the old building). The entrance is at the corner of Engineering Road and Agronomy Road, then take the <span style="color: black">south elevator</span> to the 6th floor.</p>
                    <p class="dir">The <span style="color: black">interactive</span> Google map shows the Engineering and Agronomy roads.</p>
                    <p class ="dir">The closest parking is in the <a href="">Health Sciences Parkade</a>.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
<!-- End deneb_testimonial section -->