<!-- Start deneb_testimonial section -->
<section class="deneb_testimonial testimonial_v1">
    <div class="container">
        <div class="row directionContainer">
            <div class="col-lg-7">
                <div class="mapouter wow fadeInRight">
                    <div class="gmap_canvas">
                        <iframe width="630" height="460" id="gmap_canvas" src="https://maps.google.com/maps?q=agronomy%20road%20and%20engineering%20road%2C%20vancouver%2C%20bc%2C%20canada&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">

                        </iframe><a href="https://www.embedgooglemap.org">embed google map</a></div><style>.mapouter{position:relative;text-align:right;height:460px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:460px;width:100%;}</style></div>
            </div>
            <div class="col-lg-5">
                <div class="deneb_content_box wow fadeInLeft">
                <h2 class="jm-research-title title-mb">{{site.data.directions.title}}</h2>
                    <p class="dir">{{site.data.directions.content}}</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
<!-- End deneb_testimonial section -->