// deneb_banner
.jm-banner {

	.fa {
		color: $theme_color;
		padding-right: 5px;
	}
	.jm-icons {
		margin: 5px 0;
		color: black;
	}

	h2 {
		color: $theme_color;
		font-size: 42px !important;
	}
	.jm-pronouns {
		font-size: 18px;
		margin-top: 0px;
		margin-bottom: 5px;
		color: #525050;
	}
	.jm-title{
		margin-bottom: 0px;
		font-size: 18px;
		color: black;
	}
	.jm-workplace{
		font-size: 18px;
		margin-bottom: 20px;
		color: black !important;
	}
	p {
		margin: 0px;
	}
	.mail-align{
		margin-left:22px;
		color: black;
		max-width: 270px;
	}
	.jm-calendar {
		margin-top: 32px;
		min-width: 225px;
		&:hover{
			box-shadow: 2.5px 4.33px 15px 0px rgb(194, 210, 245);;
		}
	}

	.directions{
		color: #007bff;
	}
}


.deneb_banner{
	position: relative;
	padding-top: 120px;
	//margin-bottom: 60px;
	.hero_slider{
		.signle_slider{
			.banner_content{
				p {
					font-size: 18px !important;
				}
				@media #{$md}{
					margin-bottom: 60px;
					h2 {
						font-size: 35px !important;
					}
					p {
						font-size: 16px !important;
					}
				}
				@media #{$xs}{
					margin-bottom: 60px;
					h2 {
						font-size: 35px !important;
					}
					p {
						font-size: 16px !important;
					}
				}
				h1{
					font-weight: 500;
					margin-left: -2px;
					margin-bottom: 10px;
					@media #{$xs}{
						font-size: 30px;
					}
					span{
						font-weight: bold;
						color: $theme_color;
					}
				}
				h5 {
					font-weight: 500;
					margin-bottom: 15px;
				}
				.fax, .address{
					a {
						color: black;
					}
				}

			}
			.deneb_img_box{
				position: relative;
				float: right;
				margin-right: 0px;
				//max-width: 90% !important;
			}
		}
		.slick-dots{
			display: none;
			bottom: -50px;
			li{
				width: 5px;
				height: 5px;
				background: #c3c3c3;
				border-radius: 50%;
				button{
					padding: 0;
					width: 5px;
					height: 5px;
					border-radius: 50%;
				}
			}
			& .slick-active{
				background: $theme_color;
				button{
					&:before{
						width: 10px;
						height: 10px;
						border-radius: 50%;
						background-color: rgb(255, 189, 39);
						opacity: 0.302;
						margin-top: -5px;
					    margin-left: -5px;
					    position: absolute;
					    top: 50%;
					    left: 50%;
					}
				}
			}
		}
	}
}

// shape_v1
.shape_v1{
	.shape_1{
		position: absolute;
		left: 0;
		top: 80px;
	}
}
// .shape_v2
.shape_v2{
	.shape_7{
		position: absolute;
		right: 0;
		top: 100px;
	}
}
.shape_v3{
	.shape_10{
		position: absolute;
		left: 0;
		top: 60px;
	}
}
.shape_v4{
	.shape_11{
		position: absolute;
		right: 0;
		top: 0px;
	}
}
.shape_v5{
	.shape_12{
		position: absolute;
		left: 0;
		top: 0px;
	}
	.shape_13{
		position: absolute;
		left: 40px;
		bottom: 60px;
	}
}