.deneb_achivement {

  .lighter {
    color: #525050 !important;
  }
  .deneb_img_box{
    img{
      float: right;
      width: 85%;
      height: auto;
    }
  }


.marginbot {
  margin-bottom: 20px;
  }
}